#gainParagraph, #vegetableGain, #fruitGain, #cerealGain, #meatGain, #sweetsGain, #foodInfo, #mealPlan, #loseParagraph, #suggestionParagraph, #vegetableLoss, #fruitLoss, #cerealLoss, #meatLoss, #sweetsLoss {
  display: none;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.diet-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.exercise-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.result-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.article-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

/*Position for arrow*/
.unslider-arrow {
  position: absolute;
  bottom:50%;
}

/*Image Format for Article Section*/
.card-img-top {
  width: 300px;
  height: 200px;
}
