#gainParagraph, #vegetableGain, #fruitGain, #cerealGain, #meatGain, #sweetsGain, #foodInfo, #mealPlan, #loseParagraph, #suggestionParagraph, #vegetableLoss, #fruitLoss, #cerealLoss, #meatLoss, #sweetsLoss {
  display: none;
}

#shutup {
  margin-left: 40px;
  margin-top:-60px;
  height: 300px;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 800px;
    padding-left: 12%;
    color:rgba(242, 243, 244,0.8);
    background-image: url(../img/food2.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.diet-section {
  height: 100%;
  padding-top: 150px;
  padding-left: 25%;
  padding-bottom: 400px;
  color:rgba(76, 61, 13,0.8);
  background-image: url(../img/food7.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: bolder;
}

.exercise-section {
  height: 100%;
  padding-top: 150px;
  padding-bottom: 500px;
  padding-left: 10%;
  color:rgb(242, 243, 244);
  background-image: url(../img/exercise4.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
}

.result-section {
  height: 100%;
  left: 40%;
  padding-top: 150px;
  padding-bottom: 1500px;
  padding-left: 10%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  background-color: rgb(216, 214, 208);
}

.article-section {
    height: 100%;
    padding-top: 150px;
  padding-left: 10%;
    text-align: center;
    background: #fff;
}

.btn-block {
  margin-top: 20px;
  color: white;
}

.btn a:hover{
    text-decoration: none;
}
/*Position for arrow*/
.unslider-arrow {
  position: absolute;
  bottom:50%;
}

/*Image Format for Article Section*/
.card-img-top {
  width: 300px;
  height: 200px;
}

/*Navbar formatting*/
.navbar {
  height: 50px;
  background: rgba(0, 128, 43, 0.5);
  min-width: 900px;
  margin-right: 0;
  margin-left: 0;
  border: none;
}
.navbar-right {
  padding-right: 2%;
}
.dropdown-menu{
  background: rgba(0, 128, 43, 0.8);
  border: none;
}
.glyphicon {
  margin-left: 15px;
}

.container {
  width: 970px !important;
  margin-right: 0;
  margin-left: 0;
}

.searchbar {
  font-size: 20px;
  margin-top: 2%;
}

.dropdown-menu, .navbar-nav li a, .searchbar {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #e1f5b5;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #2f9863;
    background-color: #e7ecb8;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #2f9863;
    text-decoration: none;
    background-color: #e7ecb8;
}

.dropdown-menu > li > a,.dropdown-menu > .dropdown-header {
    color: #e1f5b5;
}

@media (max-width: 998px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: right!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

#navbar-logo {
  height: 45px;
  margin-left: 50px;
  margin-top: -12px;
}
