#gainText, #vegetableGain, #fruitGain, #cerealGain, #meatGain, #sweetsGain, #foodInfo, #mealPlan, #loseText, #suggestionParagraph, #vegetableLoss, #fruitLoss, #cerealLoss, #meatLoss, #sweetsLoss {
  display: none;
}

#shutup {
  margin-left: 40px;
  margin-top:-80px;
  height: 250px;
}
#introLogo {
  height: 200px;
  margin-bottom: -20px;
}
h1, h2, h3 {
  color: rgba(119, 196, 131,0.8);
}
.intro-section {
    height: 100%;
    padding-top: 150px;
    padding-bottom: 800px;
    padding-left: 12%;
    color:rgba(242, 243, 244,0.8);
    background-image: url(../img/background1.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.diet-section {
  height: 100%;
  padding-top: 150px;
  padding-left: 28%;
  padding-bottom: 400px;
  color:rgba(76, 61, 13,0.8);
  background-image: url(../img/background2.jpg);
  background-size: cover;
  background-position: bottom;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: bolder;
}

#dietButton {
  margin-top: 10px;
}
.exercise-section {
  height: 100%;
  padding-top: 150px;
  padding-bottom: 400px;
  margin-left:-5%;
  color:rgba(76, 61, 13,0.8);
  background-image: url(../img/background3.jpg);
  font-size: 15px;
  font-weight: bolder;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

#buttonSubmit {
width: 40%;
position: absolute;
left:30%;
}

.result-section {
  display: none;
  height: 100%;
  left: 40%;
  padding-top: 50px;
  padding-bottom: 2000px;
  padding-left: 10%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(255, 255, 255)),color-stop(0.665, rgb(228, 249, 234)),color-stop(1, rgb(175, 244, 192)),color-stop(1, rgb(39, 143, 186)));
}

th {
text-align: center;
}

.gainParagraph, .loseParagraph, #foodInfo {
text-align: left;
}
.gainParagraph > ul >li , .loseParagraph > ul >li {
  color: rgb(122, 89, 55);
}
#logoResult {
  padding-top: -20px;
  height: 200px;
  position: relative;
  left:-10%;
}
.article-section {
    height: 130%;
    padding-top: 50px;
    padding-left: 10%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%,color-stop(0, rgb(175, 244, 192)),color-stop(0.38, rgb(228, 249, 234)),color-stop(1, rgb(255, 255, 255)),color-stop(1, rgb(39, 143, 186)));
}

.btn-block {
  margin-top: 20px;
  color: white;
}

.btn a:hover{
    text-decoration: none;
}
/*Position for arrow*/
.unslider-arrow {
  position: absolute;
  bottom:50%;
  padding-right: 10%;
  padding-left: 10%;
}

/*Image Format for Article Section*/
.card-img-top {
  width: 300px;
  height: 200px;
}

/*Navbar formatting*/
.navbar {
  height: 50px;
  background: rgba(0, 128, 43, 0.5);
  min-width: 900px;
  margin-right: 0;
  margin-left: 0;
  border: none;
}
.navbar-right {
  padding-right: 2%;
}
.dropdown-menu{
  background: rgba(0, 128, 43, 0.8);
  border: none;
}
.glyphicon {
  margin-left: 15px;
}

.container {
  width: 970px !important;
  margin-right: 0;
  margin-left: 0;
}

.searchbar {
  font-size: 20px;
  margin-top: 2%;
}

.dropdown-menu, .navbar-nav li a, .searchbar {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #e1f5b5;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #2f9863;
    background-color: #e7ecb8;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #2f9863;
    text-decoration: none;
    background-color: #e7ecb8;
}

.dropdown-menu > li > a,.dropdown-menu > .dropdown-header {
    color: #e1f5b5;
}

@media (max-width: 998px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: right!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

#navbar-logo {
  height: 45px;
  margin-left: 50px;
  margin-top: -12px;
}
